.xtmi_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtmi_container *:before,
.xtmi_container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtmi_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.xtmi_row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.xtmi-column-1, .xtmi-column-2, .xtmi-column-3, .xtmi-column-4, .xtmi-column-5, .xtmi-column-6, .xtmi-column-7, .xtmi-column-8, .xtmi-column-9, .xtmi-column-10, .xtmi-column-11, .xtmi-column-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.xtmi-column-1, .xtmi-column-2, .xtmi-column-3, .xtmi-column-4, .xtmi-column-5, .xtmi-column-6, .xtmi-column-7, .xtmi-column-8, .xtmi-column-9, .xtmi-column-10, .xtmi-column-11, .xtmi-column-12 {
  float: none;
  width: 100;
}
@media (min-width: 768px) {
  .xtmi-column-1, .xtmi-column-2, .xtmi-column-3, .xtmi-column-4, .xtmi-column-5, .xtmi-column-6, .xtmi-column-7, .xtmi-column-8, .xtmi-column-9, .xtmi-column-10, .xtmi-column-11, .xtmi-column-12 {
    float: left;
  }
  .xtmi-column-12 {
    width: 100%;
  }
  .xtmi-column-11 {
    width: 91.66666667%;
  }
  .xtmi-column-10 {
    width: 83.33333333%;
  }
  .xtmi-column-9 {
    width: 75%;
  }
  .xtmi-column-8 {
    width: 66.66666667%;
  }
  .xtmi-column-7 {
    width: 58.33333333%;
  }
  .xtmi-column-6 {
    width: 50%;
  }
  .xtmi-column-5 {
    width: 41.66666667%;
  }
  .xtmi-column-4 {
    width: 33.33333333%;
  }
  .xtmi-column-3 {
    width: 25%;
  }
  .xtmi-column-2 {
    width: 16.66666667%;
  }
  .xtmi-column-1 {
    width: 8.33333333%;
  }
}
.xtmi_container:before,
.xtmi_container:after,
.xtmi_row:before,
.xtmi_row:after {
  content: " ";
  display: table;
}

.xtmi_container:after,
.xtmi_row:after {
  clear: both;
}

.xtmi_well{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 8px 20px 12px;
}
.xtmi_label{
    font-weight: bold;
    margin-right: 20px;
    display: block;
    margin-bottom: 5px;
}
.xtmi_small {
    font-size: 13px;
    color: #777;
    display: block;
    margin-top: 5px;
}
.xtmi_submit_button{
    margin-top: 10px !important;
}

#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}
.xtmi_element {
    margin-top: 5px;
    margin-bottom: 20px;
}
